<tr data-sly-use.model="com.exadel.linkchecker.core.models.GridViewItem"
    class="foundation-collection-item foundation-collection-navigator card-exadel-link-checker"
    is="coral-table-row"
    data-path="${model.path}"
    data-current-link="${model.link}"
    data-property-name="${model.propertyName}"
    data-rootsource="${model.path}">
    <td is="coral-table-cell" coral-table-rowselect>
        <img itemprop="thumbnail" width="192" src="${model.thumbnail}" alt="">
    </td>

    <td class="foundation-collection-item-title" is="coral-table-cell">
        <div class="main-sync">
            <h4 title="${model.link}">${model.link}</h4>
            <span class="description">${model.linkType}</span>
        </div>
    </td>

    <td class="foundation-collection-item-keys" is="coral-table-cell">
        ${model.linkStatusCode}
    </td>

    <td class="foundation-collection-item-keys" is="coral-table-cell">
        ${model.linkStatusMessage}
    </td>

    <td class="foundation-collection-item-keys" is="coral-table-cell">
        <sly data-sly-test.isValidPage="${model.isValidPage}">
            <a href="${model.pagePath}" target="_blank"
               x-cq-linkchecker="skip">
                ${model.pageTitle}
            </a>
        </sly>
        <sly data-sly-test.isValidPage="${!isValidPage}">
            <span>${model.pagePath}</span>
        </sly>
    </td>

    <td class="foundation-collection-item-keys" is="coral-table-cell">
        <a href="${'{0}{1}' @ format=[model.CRX_DE_LINK, model.componentPath]}" target="_blank" x-cq-linkchecker="skip">
            ${model.componentName}
        </a>
        <br/><span class="description"><em>${model.componentType}</em></span>
    </td>

    <td class="foundation-collection-item-keys" is="coral-table-cell">
        ${model.path}@<strong>${model.propertyName}</strong>
    </td>
</tr>