<sly data-sly-use.model="com.exadel.etoolbox.linkinspector.core.models.ui.StatsModal">
    <coral-popover-content>
        <sly data-sly-call="${field @ title='Last generated', value=model.lastGenerated}"></sly>
        <sly data-sly-call="${field @ title='Search path', value=model.searchPath}"></sly>
        <sly data-sly-call="${field @ title='Excluded paths', value=model.excludedPaths}"></sly>
        <sly data-sly-call="${field @ title='Skip content modified after activation', value=model.skipModifiedAfterActivation}"></sly>
        <sly data-sly-call="${field @ title='Last Modified Boundary', value=model.lastModifiedBoundary}"></sly>
        <sly data-sly-call="${field @ title='Excluded Properties', value=model.excludedProperties}"></sly>

        <sly data-sly-call="${field @ title='Excluded Links Patterns', value=model.excludedLinksPatterns}"></sly>
        <sly data-sly-call="${field @ title='Exclude Tags', value=model.excludeTags}"></sly>
        <sly data-sly-call="${field @ title='HTTP Status Codes', value=model.allowedStatusCodes}"></sly>

        <sly data-sly-list.statKey="${model.statistics}">
            <sly data-sly-call="${field @ title=statKey, value=model.statistics[statKey]}"></sly>
        </sly>
        <coral-popover-separator></coral-popover-separator>
    </coral-popover-content>
</sly>

<template data-sly-template.field="${@ title, value}">
    <p class="u-coral-margin" data-sly-test="${value}">
        ${title}: <em>${value}</em>
    </p>
</template>