scripts=["
# These paths must exist otherwise the following ACL applicaiton will fail, resulting in err'ing build 
create path /conf/etoolbox/link-inspector(nt:unstructured)
create path /content(sling:Folder)
create path /var/etoolbox/link-inspector(sling:Folder)
create service user etoolbox-link-inspector-service-user with path system/etoolbox

set ACL for etoolbox-link-inspector-service-user
    allow jcr:read on /conf/etoolbox/link-inspector
    allow jcr:read,crx:replicate  on /content
    allow jcr:versionManagement,jcr:read,rep:write,jcr:lockManagement  on /var/etoolbox/link-inspector
end 
"]