<tr data-sly-use.model="com.exadel.etoolbox.linkinspector.core.models.ui.GridViewItem"
    class="foundation-collection-item elc-item"
    is="coral-table-row"
    data-path="${model.path}"
    data-current-link="${model.link}"
    data-property-name="${model.propertyName}"
    data-rootsource="${model.path}">
    <td is="coral-table-cell" coral-table-rowselect>
        <img itemprop="thumbnail" width="192" src="${model.thumbnail}" alt="">
    </td>

    <td class="status centered" is="coral-table-cell">
        <div data-sly-set.statuscode="${model.linkStatusCode == '200' ? 'ok' : 'error'}"
             class="indicator" title="HTTP Status ${model.linkStatusCode}">
            <coral-icon icon="circle" class="elc-link-status--${statuscode}"></coral-icon>
        </div>
        <div class="secondary">
            ${model.linkStatusMessage}
        </div>
    </td>

    <td class="link" is="coral-table-cell">
        <div class="primary break-word"><b>${model.link}</b></div>
        <div class="secondary">${model.linkType}</div>
    </td>

    <td class="page" is="coral-table-cell">
        <sly data-sly-test.isValidPage="${model.isValidPage}">
            <a href="${model.pagePath}" target="_blank"
               class="primary"
               x-cq-linkchecker="skip">
                ${model.pageTitle}
            </a>
        </sly>
        <sly data-sly-test="${!isValidPage}">
            <span class="break-all">${model.pagePath}</span>
        </sly>
    </td>

    <td class="component" is="coral-table-cell">
        <a class="primary"
           href="${'{0}{1}' @ format=[model.crxDePath, model.componentPath]}"
           target="_blank"
           x-cq-linkchecker="skip">
            ${model.componentName}
        </a>
        <div class="secondary break-all" title="${model.componentType}"><em>${model.componentType}</em></div>
    </td>

    <td class="property break-all" is="coral-table-cell">
        ${model.path}@<strong>${model.propertyName}</strong>
    </td>
</tr>