<tr data-sly-use.model="com.exadel.etoolbox.linkinspector.core.models.ui.GridViewItem"
    class="foundation-collection-item elc-item"
    is="coral-table-row"
    data-path="${model.resourcePath}"
    data-property-name="${model.propertyName}"
    data-match="${model.match}">

    <td class="check" is="coral-table-cell">
        <coral-checkbox coral-table-rowselect/>
    </td>

    <td class="status" is="coral-table-cell">
        <div class="indicator centered" title="${model.statusCode}">
            <coral-icon icon="circle" data-status="${model.statusTag}"></coral-icon>
        </div>
        <div class="secondary centered break-none ${model.statusClampable ? 'line-ellipsis' : ''}"
             data-sly-attribute.title="${model.statusClampable ? model.statusMessage : ''}">
            ${model.statusMessageExcerpt}
        </div>
    </td>

    <td class="result" is="coral-table-cell">
        <div class="content">
            <div class="primary source break-word full-ellipsis">${model.value}</div>
            <div class="secondary result-type">${model.type}</div>
            <button is="coral-button" class="elc-editproperty-button" icon="edit" variant="primary"></button>
        </div>
    </td>

    <td class="page" is="coral-table-cell">
        <sly data-sly-test.isValidPage="${model.isValidPage}">
            <a href="${model.pagePath}" target="_blank"
               class="primary"
               x-cq-linkchecker="skip">
                ${model.pageTitle}
            </a>
        </sly>
        <sly data-sly-test="${!isValidPage}">
            <span class="break-all">${model.pagePath}</span>
        </sly>
    </td>

    <td class="component" is="coral-table-cell">
        <a class="primary"
           href="${'{0}{1}' @ format=[model.crxDePath, model.componentPath]}"
           target="_blank"
           x-cq-linkchecker="skip">
            ${model.componentName}
        </a>
        <div class="secondary break-all" title="${model.componentType}"><em>${model.componentType}</em></div>
    </td>

    <td class="property break-all" is="coral-table-cell">
        ${model.resourcePath}@<strong>${model.propertyName}</strong>
    </td>
</tr>