<sly data-sly-use.model="com.exadel.etoolbox.linkinspector.core.models.ui.StatsModel"></sly>

<div class="elc-report-stats">
    <h2 class="coral-Heading--2">Report</h2>

    <sly data-sly-test="${model.valid}">
        <sly data-sly-call="${field @ title='Last generated', value=model.lastGenerated}"></sly>
        <sly data-sly-call="${field @ title='Search path', value=model.searchPath}"></sly>
        <sly data-sly-call="${field @ title='Excluded paths', value=model.excludedPaths}"></sly>
        <sly data-sly-call="${field @ title='Activated content only', value=model.checkActivation}"></sly>
        <sly data-sly-call="${field @ title='Skip content modified after activation', value=model.skipModifiedAfterActivation}"></sly>
        <sly data-sly-call="${field @ title='Last Modified Boundary', value=model.lastModifiedBoundary}"></sly>
        <sly data-sly-call="${field @ title='Excluded Properties', value=model.excludedProperties}"></sly>

        <sly data-sly-call="${field @ title='Excluded Links Patterns', value=model.excludedLinksPatterns}"></sly>
        <sly data-sly-call="${field @ title='Exclude Tags', value=model.excludeTags}"></sly>
        <sly data-sly-call="${field @ title='HTTP Status Codes', value=model.allowedStatusCodes}"></sly>

        <sly data-sly-list.statKey="${model.statistics}">
            <sly data-sly-call="${field @ title=statKey, value=model.statistics[statKey]}"></sly>
        </sly>

        <button class="elc-download-report-button"
                is="coral-button"
                variant="secondary"
                icon="download"
                iconsize="S">
            Download
        </button>
    </sly>

    <sly data-sly-test="${!model.valid}">
        Currently no data
    </sly>
</div>

<template data-sly-template.field="${@ title, value}">
    <p data-sly-test="${value}">
        <em>${title}</em>: ${value}
    </p>
</template>