<sly data-sly-use.pagination="com.exadel.etoolbox.linkinspector.core.models.ui.PaginationModel"/>
<div class="elc-pagination coral--light" data-sly-test="${pagination.size > 1 && pagination.page <= pagination.size}">
    <ul class="elc-pagination-list">
       <li class="elc-pagination-item ${pagination.page > 1 ? '' : 'disabled'}" data-page="1">&#171;</li>
       <li class="elc-pagination-item ${pagination.page > 1 ? '' : 'disabled'}" data-page="${pagination.previousPage}">&#8249;</li>
       <li class="elc-pagination-item" data-sly-test="${pagination.pageBeforePrevious > 0}" data-page="${pagination.pageBeforePrevious}">${pagination.pageBeforePrevious}</li>
       <li class="elc-pagination-item" data-sly-test="${pagination.previousPage > 0}" data-page="${pagination.previousPage}">${pagination.previousPage}</li>
       <li class="active">${pagination.page}</li>
       <li class="elc-pagination-item" data-sly-test="${pagination.nextPage <= pagination.size}" data-page="${pagination.nextPage}">${pagination.nextPage}</li>
       <li class="elc-pagination-item" data-sly-test="${pagination.pageAfterPrevious <= pagination.size}" data-page="${pagination.pageAfterPrevious}">${pagination.pageAfterPrevious}</li>
       <li class="elc-pagination-item ${pagination.page < pagination.size ? '' : 'disabled'}" data-page="${pagination.nextPage}">&#8250;</li>
       <li class="elc-pagination-item ${pagination.page < pagination.size ? '' : 'disabled'}" data-page="${pagination.size}">&#187;</li>
    </ul>
</div>