<sly data-sly-use.model="${'com.exadel.etoolbox.linkinspector.core.models.ui.StatsButton' @ statsResourcePath=properties.path}"></sly>
<button data-sly-attribute.disabled="${!model.isStatsAvailable}" is="coral-button" id="statsPopover">Summary</button>
<coral-popover placement="bottom" target="#statsPopover" class="${model.statsResourceExists ? 'has-data' : ''}">
  <coral-popover-header data-sly-test="${model.statsResourceExists}">Last scan</coral-popover-header>
    <sly data-sly-test="${model.statsResourceExists}"
         data-sly-resource="${properties.path @ resourceType='/apps/etoolbox-link-inspector/components/stats/statsModal'}"></sly>
</coral-popover>